<section id="content">
    <div class="container">
        <div class="c-header">
            <h2>Rooms</h2>
        </div>

        <div class="row">
            <div class="col-lg-9 col-md-9">
                <div class="col-lg-4 col-md-6" ng-repeat="room in rooms">
                    <div class="card c-dark palette-Light-Blue bg" ui-sref="app.room({room: room})">
                        <div class="card-header">
                            <h2> {{room.roomName}} <small>Consectetur Ultricies Porta Fringilla</small></h2>
                        </div>
                        <div class="card-body card-padding">
                            <h4 class="m-t-0 m-b-15 c-white">
                                <i class="zmdi zmdi-trending-down m-r-5"></i>
                                 Tmin {{room.tempMin}}
                            </h4>
                            <h4 class="m-t-0 m-b-15 c-white">
                                <i class="zmdi zmdi-trending-up m-r-5"></i>
                                Tmax {{room.tempMax}}
                            </h4>

                            <div class="sparkline-1 text-center"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-lg-3">
                 <div class="card">
                    <div class="card-header">
                        <h2 class="text-width">Dont have rooms yet? <small>Create your first room right now!</small></h2>
                    </div>

                    <div class="card-body">
                        <button class="btn palette-Light-Green bg btn-float waves-effect waves-circle waves-float" data-toggle="modal" href="#addRoomModal"><i class="zmdi zmdi-plus"></i></button>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Add room modal -->
        <div class="modal fade" id="addRoomModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add room</h4>
                    </div>
                    <form name="roomFrom" ng-submit="createRoom(room)" >
                        <div class="modal-body">
                            <div class="card-body card-padding">
                                
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Room name</label>
                                    <div class="col-sm-8">
                                        <div class="fg-line">
                                            <input type="text" class="form-control input-sm" placeholder="myRoom" ng-model="room.roomName" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Temperature min</label>
                                    <div class="col-sm-8">
                                        <div class="fg-line">
                                            <input type="text" class="form-control input-sm" placeholder="5.5" ng-model="room.tempMin" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Temperature max</label>
                                    <div class="col-sm-8">
                                        <div class="fg-line">
                                            <input type="text" class="form-control input-sm" placeholder="10.7" ng-model="room.tempMax" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" >Area</label>
                                    <div class="col-sm-8">

                                        <div class="fg-line">
                                            <input type="number" class="form-control input-sm" placeholder="27" ng-model="room.area" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Height</label>
                                    <div class="col-sm-8">

                                        <div class="fg-line">
                                            <input type="number" class="form-control input-sm"  placeholder="10" ng-model="room.height" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Windows</label>
                                    <div class="col-sm-8">

                                        <div class="fg-line">
                                            <input type="number" class="form-control input-sm" placeholder="3" ng-model="room.windows" required>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-link" ng-disabled="roomFrom.$invalid">Save room</button>
                        <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>