<section id="content">
    <div class="container">
    	<div class="row">
    		<div class="col-lg-9 col-md-9">
    			<div class="card">
                    <div class="card-header">
                        <h2>Info chart <small>Charts with measures data for the last day</small></h2>

                        <ul class="actions">
                            <li>
                                <a href="">
                                    <i class="zmdi zmdi-check-all"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="card-body">
                        <div class="list-group lg-alt c-overflow">
                        	<div id="chart"></div>
                        </div>
                    </div>
                </div>
    		</div>
    		<div class="col-lg-3 col-md-3">
    			<div class="card">
                    <div class="card-header">
                        <h2>Settings</h2>

                    </div>

                    <div class="card-body">
                        <div class="lg-alt c-overflow">
                        	<div class="input-group">
                        		<span class="input-group-addon p-l-5 f-15">
                        			<p class="c-black m-b-0">From:</p>  
                        		</span>
                        		<div class="fg-line m-l-10 p-r-25">
                        			<input type="text" class="form-control" ng-model="fromInit" disabled>
                        		</div>
                        	</div>
                        	<div class="input-group">
                        		<span class="input-group-addon p-l-5 f-15">
                        			<p class="c-black m-b-0">To:</p> 
                        		</span>
                        		<div class="fg-line m-l-10 p-r-25">
                        			<input type="text" class="form-control" ng-model="toInit" disabled>
                        		</div>
                        	</div>

                        	<p class="c-black f-500 m-l-10 m-b-10 m-t-10">Set another dates: </p>

                            <div class="input-group form-group">
                                <span class="input-group-addon"><i class="zmdi zmdi-calendar"></i></span>
                                    <div class="dtp-container fg-line">
                                    <input type="date" ng-model="newFrom">
                                </div>
                            </div>
                            <div class="input-group form-group p-b-10">
                                <span class="input-group-addon"><i class="zmdi zmdi-calendar"></i></span>
                                    <div class="dtp-container fg-line">
                                    <input type="date" ng-model="newTo">
                                </div>
                            </div>

                            <p class="c-black f-500 m-l-10 m-b-10 m-t-10">Select a specific room: </p>

                            <div class="input-group form-group">
                            	<span class="input-group-addon"><i class="zmdi zmdi-store"></i></span>
                            	<div class="fg-line">
	                                <select class="selectpicker" ng-model="room" ng-options="r.roomName for r in rooms"></select>
	                            </div>
                            </div>

                            <div class="input-group p-l-15 p-b-15">
                            	<button class="btn btn-success btn-icon-text waves-effect" ng-click="updateChart()"><i class="zmdi zmdi-refresh"></i> Update chart</button>
                            	<button class="btn btn-success btn-icon-text waves-effect m-l-10" ng-click="today()"><i class="zmdi zmdi-refresh"></i>Today</button>
                            </div>
                        </div>
                    </div>
                </div>
    		</div>
    	</div>



    	<div class="row">
    		<div class="col-lg-9 col-md-9">
    			<div class="card">
                    <div class="card-header">
                        <h2> Data: </h2>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Temp</th>
                                    <th>Humidity</th>
                                    <th>Presence</th>
                                    <th>Created at</th>
                                    <th>Mac address</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in resultData">
                                    <td>{{item.id}}</td>
                                    <td>{{item.temp}}</td>
                                    <td>{{item.hum}}</td>
                                    <td>{{item.presence}}</td>
                                    <td>{{item.time | date: 'medium'}}</td>
                                    <td>{{item.macAddress}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
    		</div>
    		<div class="col-lg-3 col-md-3">
    			<div class="card">
                    <div class="card-header text-center">
                        <h2>Avarage data:</h2>
                    </div>

                    <div class="card-body">
                       <p class="m-l-10 m-b-5 text-center">Temp: {{avrTemp}} </p>
                       <p class="m-l-10 p-b-10 text-center">Humidity: {{avrHum}} </p>
                    </div>
                </div>
    		</div>
    	</div>
                
    </div>
</section>